@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
}
img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    color: var(--white-color);
    font-family: "DM Sans", sans-serif;
}
span{
    color: var(--main-color);
}
p{
    color: var(--p-color);
}
/* start header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    

    z-index: 1000;
}
.header-active{background-color: #000000;
border-bottom: 2px solid #393838;

}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo img{
    width: 175px;
}
.header .container .links{
    display: flex;
    gap: 2rem;
}

.header .container .links .link{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 350;

}
.header .container .links .link.active{
    color: var(--main-color);
}
.header .container .links .link:hover{
    color: var(--main-color);
    transform: scale(1.1);
}
.header .container .social-links{
    display: flex;
    gap: 2rem;
}
.header .container .social-links .social-link{
    color: #fff;
    font-size: 1.5rem;
    transition: 0.3s;
}
.header .container .social-links .social-link:hover{
    color: var(--main-color);
    transform: scale(1.1);
    }
.logo{
    width: 300px;
    height: 100px;
}
/* logo animation */
.logo-animation{
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    margin: 20px;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.logo-animation .circle{
    position: absolute;
    /* border-radius: 50%; */
    content: url(../img/logo_icon.png);

    /* background-color: var(--main-color); */
    animation: animate-logo 10s linear infinite;

}
.logo-animation .circle:nth-child(2){
    width: 50px;
    height: 50px;
    animation-delay: 0.5s;

}


@keyframes animate-logo{
    0%{
        opacity: 1;
        transform: rotate(0deg);
    }
  
    100%{
        opacity: 1;
        transform: rotate(360deg);
    }
    
}

.logo-text{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    animation: animate-logo-text 10s linear infinite;
}

@keyframes animate-logo-text{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
  
    100%{
        opacity: 1;
        transform: translateY(100px);
    }
}


.container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 1rem;
   height: 100%;
}

.hero{
    padding-top: 100px;
  
}
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hero .hero-text{
    text-align: center;
    width: 50%;
}
.hero .hero-text .hello{
    font-size: var(--h1-font-size);
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--p-color);
}
.hero .hero-text .hero-desc{
    font-size: var(--h2-font-size);
    font-weight: 700;
    margin-bottom: 2rem;
}
.hero .hero-img{
    width: 35%;
}
.hero-img{
    position: relative;
    border-radius: 0 0 600px 600px;
    /* background-color: var(--white-color); */
    overflow: hidden;

}
.hero-bg-img{
    position: absolute;
   
    z-index: -1;
   left:0;
   bottom:0;

}
.hero-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
    .hero-contact-btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: var(--h3-font-size);
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.3s;
}
.download-btn{
    display: inline-block;
    padding: 1rem 2rem;
    /* background-color: var(--main-color); */
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.3s;
}
.hero-contact-btn:hover{
    transform: scale(1.1);
}
.download-btn:hover{
    transform: scale(1.1);
}
.hero-img{
    width: 500px;
}
.hero-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* end hero */
/* start about */
.about{
    padding-top: 100px;
  
}
.about .container{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(13, 9, 9);
    width: 92%;
    border:5px double var(--main-color);
}
.about .about-img{
    width: 40%;
}
.about .about-text {
    width: 55%;
}
.about .about-title{
    font-size: var(--h1-font-size);
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--p-color);
}
.about .about-title {
    color: var(--main-color);
}
.about .about-desc{
    font-size: var(--h3-font-size);
    font-weight: 500;
    margin-bottom: 2rem;
}
.about .about-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.about .about-contact-btn{
    display: inline-block;
    padding: 1rem 2rem;
}
.about .about-download-btn{
    display: inline-block;
    padding: 1rem 2rem;
}
.about .about-contact-btn:hover{
    transform: scale(1.1);
}
.about .about-download-btn:hover{
    transform: scale(1.1);
}
.about .about-img img{
    width: 500px;
}

.my-experiences-container .my-experiences{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 5rem;
    
}
.fa-check{
    color: var(--main-color);
}
.about .my-experiences .experience-item{
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* end about */

body{
    background-color: #131313;
    color: #fff;
}
:root{
    --main-color:#C9F31D;
    --bg-color:#000;
    --white-color:#fff;
    --p-color:#bebcbc;
    --h1-font-size:2.25rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:0.875rem;
}

/* start home */
.home {
    margin-top: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/home-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
.home-content{
    text-align: center;
    color: #fff;
}
.home-title{
    font-size: var(--h1-font-size);
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff;
}
.home-desc{
    font-size: var(--h3-font-size);
    font-weight: 500;
    margin-bottom: 2rem;
}
.home-btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: var(--h3-font-size);
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.3s;
}
.home-btn:hover{
    transform: scale(1.1);
}
.home-img img{
    width: 500px;
}





/*------------------ background animation ------------------    */
/* .background-animation{
   
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.background-animation .circle{
    position: absolute;
    border-radius: 50%;
    background-color: var(--main-color);
    animation: animate 5s linear infinite;

}
.background-animation .circle:nth-child(2){
    width: 100px;
    height: 100px;

}
.background-animation .circle:nth-child(3){
    width: 150px;
    height: 150px;
}
.background-animation .circle:nth-child(4){
    width: 200px;
    height: 200px;
}


@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(0);
    }
  
    100%{
        opacity: 0.1;
        transform: scale(1);
    }
    
} */
